.intro-image .intro-section {
    height: 818px;
    background-size: cover;
}
.intro-image .intro-content .title, .monuments-search-input {
    animation-fill-mode: none;
    animation-name: fadeInUp;
}

.intro-image .intro-content .title {
    text-shadow: 1px 1px 8px black;
}

/* 
.intro-image .intro-content .monuments-search-input {
    width: 757px;
} 
*/

.footer-area .center-footer-logo {
    width: 300px;
}

.footer-area .footer-empty-space {
    height: 170px;
}