.monuments-search {
    height: 818px;
    background-size: cover;
}
.monuments-search .monuments-form .title {
    color: white;
    font-size: 72px;
    font-weight: bold;
    text-shadow: 1px 1px 10px black;
    animation-fill-mode: none;
    animation-name: fadeInUp;
}

.extra-links-background{
    background-color: #f9e7e7;
    height: auto;
}

.extra-link {
    max-width: 25%;
    height: auto;
    border-radius: 10px !important;
}

.extra-link div a img{
    margin-bottom: 20px;
    width: 100%;
}

.extra-link div a {
    width: 30%;
}

.extra-link h3 {
    font-size: 24px;
    font-weight: bold;
    color: #373737;
}

.extra-link div {
    font-size: 15px;
    font-weight: 400;
    color: #373737;
}

.categories .category {
    scale: 70%;
    transition: scale 100ms;
}
.categories .category.zoom-0{
    scale: 110%;
    z-index: 4;
    transition-duration: 0.5s;
}
.categories .category.zoom-1{
    scale: 90%;
    z-index: 3;
    transition-duration: 0.5s;
}
.categories .category.zoom-2{
    scale: 83%;
    z-index: 2;
    transition-duration: 0.5s;
}
.categories .category.zoom-3{
    scale: 75%;
    z-index: 1;
    transition-duration: 0.5s;
}
.categories .category.zoom-4{
    scale: 68%;
    z-index: 0;
    transition-duration: 0.5s;
}

.categories .category#category-photo-0{
    position: relative;
    left: 16%;
}
.categories .category#category-photo-1{
    position: relative;
    left: 8%;
    right: 8%;
}
.categories .category#category-photo-2{
    position: relative;
    left: 0%;
    right: 16%;
}
.categories .category#category-photo-3{
    position: relative;
    left: -8%;
    right: 24%;
}
.categories .category#category-photo-4{
    position: relative;
    left: -16%;
    right: 32%;
}

.categories .category-name {
    position: relative;
    top: -20%;
    color: white;
    text-shadow: 1px 1px 8px black;
}

.carousel-monuments, .carousel-models {
    height: 400px;
}
.carousel-monuments .carousel-image, .carousel-models .carousel-image {
    height: 320px;
    width: auto;
}

.carousel-image-3d {
    height: 400px;
    width: auto;
    height: 400px;
    position: absolute;
    width: auto;
    right: 10px;
    bottom: 0;
}

.carousel-control-next, .carousel-control-prev {
    filter: opacity(100%);
    filter: brightness(0%);
    -webkit-filter: opacity(100%);
    -webkit-filter: brightness(0%);
}

.where-to-go {
    background-color: #f9e7e7;
}

.search-icon {
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 4%;
    text-indent: 35px;
    width: 75%;
    font-weight: 400;
    font-size: 15px;
}

.email-icon {
    background-image: url("../img/email.svg");
    background-repeat: no-repeat;
    background-position: 5%;
    text-indent: 35px;
    width: 75%;
    font-weight: 400;
    font-size: 15px;
}

.news {
    background-color: #f9e7e7;
}

.footer-area .center-footer-logo {
    width: 300px;
}

.footer-area .footer-empty-space {
    height: 20px;
}

/* sezione aggiunte */

.bg-light{
    background-color: white !important;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-ThinIta.eot');
    src: local('Helvetica Now Display Thin Ita'), local('HelveticaNowDisplay-ThinIta'),
        url('../fonts/HelveticaNowDisplay-ThinIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-ThinIta.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-ThinIta.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-ThinIta.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-Light.eot');
    src: local('Helvetica Now Display Light'), local('HelveticaNowDisplay-Light'),
        url('../fonts/HelveticaNowDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-Light.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Light.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-BoldIta.eot');
    src: local('Helvetica Now Display Bold Ita'), local('HelveticaNowDisplay-BoldIta'),
        url('../fonts/HelveticaNowDisplay-BoldIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-BoldIta.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-BoldIta.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-BoldIta.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-RegIta.eot');
    src: local('Helvetica Now Display Reg Ita'), local('HelveticaNowDisplay-RegIta'),
        url('../fonts/HelveticaNowDisplay-RegIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-RegIta.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-RegIta.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-RegIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-ExtLtIta.eot');
    src: local('Helvetica Now Display ExtLt Ita'), local('HelveticaNowDisplay-ExtLtIta'),
        url('../fonts/HelveticaNowDisplay-ExtLtIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-ExtLtIta.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-ExtLtIta.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-ExtLtIta.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-MedIta.eot');
    src: local('Helvetica Now Display Med Ita'), local('HelveticaNowDisplay-MedIta'),
        url('../fonts/HelveticaNowDisplay-MedIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-MedIta.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-MedIta.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-MedIta.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-ExtLt.eot');
    src: local('Helvetica Now Display ExtLt'), local('HelveticaNowDisplay-ExtLt'),
        url('../fonts/HelveticaNowDisplay-ExtLt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-ExtLt.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-ExtLt.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-ExtLt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-ExtBlk.eot');
    src: local('Helvetica Now Display ExtBlk'), local('HelveticaNowDisplay-ExtBlk'),
        url('../fonts/HelveticaNowDisplay-ExtBlk.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-ExtBlk.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-ExtBlk.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-ExtBlk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-Bold.eot');
    src: local('Helvetica Now Display Bold'), local('HelveticaNowDisplay-Bold'),
        url('../fonts/HelveticaNowDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Bold.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-ExtBdIta.eot');
    src: local('Helvetica Now Display ExtBd Ita'), local('HelveticaNowDisplay-ExtBdIta'),
        url('../fonts/HelveticaNowDisplay-ExtBdIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-ExtBdIta.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-ExtBdIta.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-ExtBdIta.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-Regular.eot');
    src: local('Helvetica Now Display Regular'), local('HelveticaNowDisplay-Regular'),
        url('../fonts/HelveticaNowDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Regular.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-ExtBlkIta.eot');
    src: local('Helvetica Now Display ExBlk It'), local('HelveticaNowDisplay-ExtBlkIta'),
        url('../fonts/HelveticaNowDisplay-ExtBlkIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-ExtBlkIta.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-ExtBlkIta.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-ExtBlkIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-Thin.eot');
    src: local('Helvetica Now Display Thin'), local('HelveticaNowDisplay-Thin'),
        url('../fonts/HelveticaNowDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-Thin.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Thin.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-LightIta.eot');
    src: local('Helvetica Now Display Light Ita'), local('HelveticaNowDisplay-LightIta'),
        url('../fonts/HelveticaNowDisplay-LightIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-LightIta.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-LightIta.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-LightIta.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-ExtraBold.eot');
    src: local('Helvetica Now Display ExtBd'), local('HelveticaNowDisplay-ExtraBold'),
        url('../fonts/HelveticaNowDisplay-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-ExtraBold.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-ExtraBold.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-Medium.eot');
    src: local('Helvetica Now Display Medium'), local('HelveticaNowDisplay-Medium'),
        url('../fonts/HelveticaNowDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-Medium.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Medium.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-HairlineI.eot');
    src: local('Helvetica Now Display Hairline'), local('HelveticaNowDisplay-HairlineI'),
        url('../fonts/HelveticaNowDisplay-HairlineI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-HairlineI.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-HairlineI.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-HairlineI.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-BlackIta.eot');
    src: local('Helvetica Now Display Black Ita'), local('HelveticaNowDisplay-BlackIta'),
        url('../fonts/HelveticaNowDisplay-BlackIta.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-BlackIta.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-BlackIta.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-BlackIta.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-Black.eot');
    src: local('Helvetica Now Display Black'), local('HelveticaNowDisplay-Black'),
        url('../fonts/HelveticaNowDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-Black.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Black.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('../fonts/HelveticaNowDisplay-Hairline.eot');
    src: local('Helvetica Now Display Hairline'), local('HelveticaNowDisplay-Hairline'),
        url('../fonts/HelveticaNowDisplay-Hairline.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNowDisplay-Hairline.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Hairline.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.search-form form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
}

.rounded{
    border-radius: 15px !important;
}

.btn-cerca{
    line-height: inherit !important;
    font-size: 18px;
    background: #C21718 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #C2171829;
    border: 2px solid #C21718 !important;
    color: white;
    font-weight: 500;
    padding: 2px 30px !important;
}

.btn-cerca:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #C21718 !important;
    color: #2E2E2E;
}

.btn{
    line-height: inherit !important;
    font-size: 15px;
    background: #C21718 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #C2171829;
    border: 2px solid #C21718 !important;
    color: white;
    font-weight: 500;
    padding: 0.1rem 1.3rem !important;
}

.btn:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #C21718 !important;
    color: #2E2E2E;
}

.home-bar{
    width: 55% !important;
    z-index: 10;
}

.home-overlay{
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    height: 818px;
    width: 100%;
    z-index: 1;
}

.barra-ricerca{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    margin-top: 30px !important;

}

.section-margin{
    margin-top: 4.5rem;
}

.container-home{
    padding: 0 8%;
}

.botton-card{
    height: fit-content !important;
    border-radius:9px !important;
}

.textarea-monument-card{
    margin-top: 15px;
    padding-left: 5px;
    width: 100%;
    margin-bottom: -15px;
}

.img-monumenty-card{
    width:270px !important;
    height:200px !important;
    
}

.monument-card-title{
    font-size:1rem;
}

.botton-suggestions{
    margin-top: 50px;
    line-height: inherit !important;
    font-size: 19px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #C21718 !important;
    color: #2E2E2E;
    font-weight: 500;
    padding: 4px 40px !important;
}

.botton-suggestions:hover{
    background: #C21718 0% 0% no-repeat padding-box !important;
    color: white !important;
    
}

.botton-monument-carousel{
    line-height: inherit !important;
    font-size: 19px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #C21718 !important;
    color: #2E2E2E;
    font-weight: 500;
    padding: 4px 40px !important;
}

.botton-monument-carousel:hover{
    background: #C21718 0% 0% no-repeat padding-box !important;
    color: white !important;
    
}

.carousel-inner{
    overflow: visible !important;
    width: 85%;
    margin: auto;
}

.home-banners .carousel-inner{
    overflow: visible !important;
    width: 100%;
    margin: auto;
}

.card-3d-carousel {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000063;
    border-radius: 10px;
    margin-top: 100px;
}

.carousel-desc-3d{
    max-width: 60%;
}

.mappa-italia{
    height: 400px;
}

.sezione-dove-andare{
    margin: 40px 0;
}

.delete-margin{
    margin-left: -50px;
    margin-right: -50px;
}

.width-3d-card{
    max-width: 20%;
}

.newsletter{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 80px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border: 3px solid #C21718;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.img-newsletter{
    width: 35%;
}

.img-newsletter img{
    border-radius: 15px;
}

.d-flex-news{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.newsletter-desc{
    width: 40%;
    text-align: center;
}

.d-flex-news .search-form{
    width:80%;
}

.container-ita{
    width: 90%;
    margin: auto;
}

.container-ita-2{
    width: 80%;
    margin: auto;
}

.icon-cat{
   width: 150%; 
   margin-left: -25%;
   max-width: 150%;
}

.d-flex-icon-cat{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.categories {
    row-gap: 25px;
}

.form-width{
    width:40%;
}

.nav-item a{
    color:#707070;
    font-size: 17px;
}

#dropdown-basic-button{
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border: 2px solid #C21718 !important;
    color: #2E2E2E;
    padding: 2px 15px !important;
}

.logo-footer{
    width: 50%;
}

.img-monumenty-card img{
    height: 100%;
}

.intro-blog{
    display: flex;

}

.img-prew{
    width: 100%;
}
.img-prew img{
    width: 100%;
}

#primo-articolo{
    margin-right: 3%;
}

#primo-articolo h6{
    font-size: 1.9rem !important;
    font-weight: 700;
    margin-bottom: 0;
}

#primo-articolo strong{
    font-size: 1.7rem !important;
    font-weight: 600;
    margin-bottom: 0;
    color: #373737;
}

.text-article-space{
    margin-top: 15px;
    margin-right: 10px;
}

.text-article-space h6{
    margin-bottom: 0rem;
}

.text-article-space p{
    margin-bottom: 15px;
}

.space-botton-article{
    margin-bottom: 30px;
}

.orizontal-line{
    color: #373737;
    opacity: 1;
    height: 2px !important;
}

.title-blog{
    font-weight: 600;
    font-size: 2.2rem;

}

.space-blog-title{
    margin-top: 50px;
}

.sezione-tutti-aricoli{
    margin-bottom: 20px;
}

.sezione-tutti-aricoli .col-3{
    width:35%
}

.sezione-tutti-aricoli .col-5{
    width:65%
}

.title-blog-article{
    font-size: 1.4rem !important;
    font-weight: 600;
    margin-bottom: 0;
}

.strong-blog-article{
    font-size: 1.3rem !important;
    font-weight: 500;
    margin-bottom: 0;
    color: #373737;
}

.card-mon-blog{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 2px 8px #00000042;
border-radius: 10px;
padding: 7px;
margin-bottom: 15px;
}

.spazio-destro{
    margin-right: 5%;
}

.title-blog-article-detail{
    font-size: 1.6rem !important;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 15px;
}

.strong-blog-article-detail{
    font-size: 1.5rem !important;
    font-weight: 500;
    margin-bottom: 0;
    color: #373737;
}

.spazio-sopra{
    margin-top: 45px;
}

.row-mod{
    display: flex;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
}

.img-blog-mon{
    height: 190px;
}

.blog-mon h6{
    font-size: 1.4rem !important;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 10px;
}

.blog-mon strong{
    font-size: 1.3rem !important;
    font-weight: 500;
    margin-bottom: 0;
    color: #373737;
}

.blog-mon p{
    margin-bottom: 5px;

}

.btn-right{
    display: flex;
    flex-direction: row-reverse;
}

.title-monument{
    margin-top: 40px;
    font-weight: 800;
}

.module-3d{
    border-radius: 15px;
}

.img-3d{
    height: 400px !important;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    margin-top: 20px;
}

.img-3d-overlay{
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    height: 400px;
    width: 100%;
    z-index: 1;
    border-radius: 15px;
}

.img-3d img{
    height: 100%;
    padding: 0;
    
}

.card-monument-size{
    width: 230px;
}